.castContainer {
  padding: 10px 20px;
}

.errorMessage{
  font-size: 14px;
  font-weight: 500;
  color: rgb(202, 198, 198);
}

.actor {
  text-decoration: none;
}

.actor + .actor {
  margin-top: 10px;
}

.actorPhoto {
  width: 100px;
  height: 150px;
  background-color: rgba(245, 216, 216, 0.993);
  border: 1px solid rgb(218, 212, 212);
}

.actorInfo{
  font-size: 10px;
  margin-top: 5px;
}