.reviewsContainer {
  padding: 20px;
}

.noReviewsMessage, .errorMessage {
  font-size: 14px;
  font-weight: 400;
  color: rgb(202, 198, 198);
}

.reviewsList {
  list-style: disc;
}

.reviewListItem {
  display: flex;
  flex-direction: column; 
  row-gap: 10px;
  text-decoration: none;
}

.reviewListItem + .reviewListItem {
  margin-top: 20px;
}

.reviewAuthor {
  font-size: 12px;
  font-weight: 700;
}

.reviewContext {
  font-size: 12px;
  font-weight: 400;
}