.container {
  display: flex;
  column-gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0;
  border-bottom: 2px solid rgb(202, 198, 198);
}

.movieCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 20px;
}

.poster{
  display: block;
  height: 350px;  
  width: auto;
}

.movieDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;

  margin: 0;
  padding: 20px;
  max-width: 100%;
}

.MovieTitle{
  font-size: 25px;
  color: blue;
}

.userScore{
  font-size: 20px;
  font-weight: 400;
}

.overview{
  font-size: 22px;
  font-weight: 700;
}

.genreList{
display: flex;
column-gap: 15px;
}

.genreItem{
  font-size: 16px;
  text-decoration: none;
}
