.HomeContainer{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 20px;
}

.movieListTitle {
  font-size: 20px;
}

.backLink {
  font-size: 12px;
  background-color: rgb(241, 238, 238);
  padding: 2px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 4px;
} 

.errorMessage{
  font-size: 14px;
  font-weight: 500;
  color: rgb(202, 198, 198);;
}


