.NavList {
  display: flex;
  align-items: flex-start;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 2px solid rgb(202, 198, 198);
}

.NavItem {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer; 
}

.NavItem +.NavItem {
  margin-left: 10px;
}
