.addInfoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  padding: 10px 20px;
}

.addInfoTitle {
  font-size: 14px;
}

.addList {
  margin-left: 20px;
}

.addListItem {
  list-style: disc;
  font-size: 12px;
}

.addListItem  +.addListItem  {
  margin-top: 5px;
}

.addLink {
  font-size: 12px;
  color: rgba(6, 25, 234, 0.642);
}