h1 {
  margin-left: 2px;
}

.popularList{
  margin-left: 20px;
  padding: 20px;
  list-style: disc;
}

li + li {
  margin-top: 5px;
}

li {
  font-size: 14px;
  text-decoration: underline;
}

.MovieTitle {
  font-size: 14px;
  color: rgba(6, 25, 234, 0.642);
}